header {
    display: flex;
    min-width: 80%;
    max-width: 80%;
    min-height: 150px;
    max-height: 150px;
    margin: 0 auto;
    padding: 30px 30px;
    justify-content: space-around;    
    align-items: center;
}

.main-component{
    min-width:50%;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
}

.header-user-icon {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
